/**
  * ESUI (Enterprise Simple UI)
  * Copyright 2013 Baidu Inc. All rights reserved.
  * 
  * @file 搜索框控件
  * @author otakustay
  */
.ui-searchbox {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  overflow: hidden;
}
.ui-searchbox .ui-textbox input {
  padding-right: 25px;
  border: 1px solid #d8d8d8;
}
.ui-searchbox .ui-textbox input:hover {
  border-color: #d0d0d0;
}
.ui-searchbox .ui-textbox input:focus {
  border-color: #bbbbbb;
}
.ui-searchbox .ui-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border: 0;
  padding: 0;
  text-indent: -5000px;
  background: transparent url(../img/search.png) no-repeat center -25px;
}
.ui-searchbox .ui-button:active {
  border: 0;
  background: transparent url(../img/search.png) no-repeat center 0;
}
.ui-searchbox .ui-button-disabled:hover {
  cursor: default;
}
.ui-searchbox .ui-button-disabled:active {
  background: transparent url(../img/search.png) no-repeat center 0;
}
.ui-searchbox-fit-width .ui-textbox {
  width: 100% !important;
}
.ui-searchbox-focus .ui-button {
  background: transparent url(../img/search.png) no-repeat center 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ui-searchbox .ui-button {
    background-image: url(../img/search@2x.png);
    background-size: 15px 50px;
  }
  .ui-searchbox .ui-button:active {
    background-image: url(../img/search@2x.png);
    background-size: 15px 50px;
  }
  .ui-searchbox-focus .ui-button {
    background-image: url(../img/search@2x.png);
    background-size: 15px 50px;
  }
}
